.Profile {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    
}

img {
    border-radius: 50%;
}


.Profile .header {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: white;
    margin: auto;
    padding: .2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.Profile .header .dashboard-logo {
    color: #0084ff;
    text-decoration: none;
}

.Profile .header .header-buttons {
    display: flex;
    justify-content: center;
}

.Profile .header .header-buttons * {
    margin-left: 3em;
    cursor: pointer;
    vertical-align: middle;
}


.Profile .header .header-buttons .link {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: 1em;
    padding: .1em 2em;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.Profile .header .header-buttons img {
    cursor: pointer;
    max-width: 2.5em;
    max-height: 2.5em;
}


.Profile .sidebar {
    position: fixed;
    top:5.5em;
    left:0;
    bottom:0;
    background:white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

.Profile .sidebar button {
    background: white;
    padding: 0;
    border: none;
    cursor: pointer;
}

.Profile .sidebar button img {
    max-width: 50px;
    max-height: 50px;
}

.Profile .main {
    margin-top: 5.5em;
    margin-left: 5em;
    padding: 1em;
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Profile .main .greetings h3 {
    font-size: 1.5em;
}

.Profile .main .greetings img {
    border-radius: 0.93em;
    width: 321px;
    max-height: 911px;
    height: 88.6%;
    box-shadow: 0 .5em 1em .1em gray;
}


.Profile .main .column-data {
    height: fit-content;
    margin: 1em;
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px  lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    flex: 1 1 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Profile .main .column-data h4 {
    font-size: 1em;
    text-align: center;
}

.Profile .main .column-data img {
    width: 4em;
    height: 4em;
}

.Profile .main .column-data p {
    font-size: 1em;
}
.Profile .main .column-data span {
    font-size: 1.25rem;
}

.Profile .main .column-data button {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: 1em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.Profile .main .column-team {
    margin: 1em;
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    flex: 1 1 1em;
    width: 12em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Profile .main .column-team h4 {
    text-align: center;
    font-size: 1em;
}

.Profile .main .column-team .gp {
    display: flex;
    flex-direction: column;
    gap: .625em;
}

.Profile .main .column-team .team {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .875em;
    justify-content: space-between;
}

.Profile .main .column-team button {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: .875em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.Profile .main .column-team .team img {
    width: 4em;
    height: 4em;
}

.Profile .main .column-team .team .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .18em;
    text-align: center;
}

.Profile .main .column-team .team .desc span {
    font-weight: bold;
}

.Profile .main .column-tasc {
    margin: 1em;
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    flex: 1 1 1em;
    height: 792px;
    width: 12em;
    display: flex;
    flex-direction: column;
    gap: .625em;
    align-items: center;
}

.Profile .main .column-tasc h4 {
    font-size: 1em;
    text-align: center;

}

.Profile .main .column-tasc button {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: 1em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.Profile .main .column-tasc .bot {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: .875em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.Profile .main .column-tasc .card {
    background: white;
    padding: .625em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1.2em .1em gray;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.Profile .main .column-tasc .card h5 {
    font-size: 1em;
    margin: 0em;
}

.Profile .main .column-tasc .card .nobold {
    font-weight: normal;
}

.Profile .main .column-tasc .card p {
    font-size: .8em;
    font-weight: bold;
    margin-top: .625em;
}

.Profile .main .column-tasc .card .status-1 {
    background: #4256A0;
    color: white;
    border: none;
    border-radius: .625em;
    padding: 1em 2.25em;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.Profile .main .column-tasc .card .status-2 {
    background: #B19221;
    color: white;
    border: none;
    border-radius: .625em;
    padding: 1em 2.25em;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    align-items: center;
    cursor: pointer;
}

.Profile .main .column-tasc .card .team {
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.Profile .main .column-tasc .card .team p {
    font-size: .875em;
    font-weight: bold;
}

.Profile .main .column-tasc .card span {
    font-size: .875em;
    color: #B3BD43;
    margin-bottom: 1em;
}

.Profile .main .column-add {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    flex: 1 1 1em;
    height: fit-content;
    width: 12em;
    gap: 1.125em;
}

.Profile .main .column-add .add {
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    display: flex;
    flex-direction: column;
    flex: 1 1 1em;
    gap: .7em;
    height: fit-content;
    align-items: center;
}

.Profile .main .column-add .add input {
    padding: .5em .75em;
    border-radius: .5em;
    border: 1px solid lightgray;
}

.Profile .main .column-add .add button {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: .875em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.Profile .main .column-add .rating {
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    display: flex;
    flex-direction: column;
    flex: 1 1 1em;
    gap: .7em;
    height: fit-content;
    align-items: center;
}

.Profile .main .column-add .rating p {
    font-size: 1em;
    font-weight: bold;
}

.Profile .main .column-add .rating .star {
    display: flex;
    flex-direction: row;
    gap: .625em;
}

.Profile .main .column-add .load {
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    display: flex;
    flex-direction: column;
    flex: 1 1 1em;
    gap: .7em;
    height: fit-content;
    align-items: center;
}

.Profile .main .column-add .load p {
    font-size: 1em;
    font-weight: bold;
}

.Profile .main .column-add .load .report {
    display: flex;
    flex-direction: row;
    gap: .625em;
}

.Profile .main .column-add .load .report p {
    font-size: .75em;
}

.Profile .main .column-add .load button {
    background: white;
    color: black;
    border: 2px solid #0084ff;
    border-radius: .875em;
    padding: .625em 1.25em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}

.Profile .main .column-chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1em;
    background: white;
    padding: 1em;
    box-sizing: border-box;
    border: 1px lightgray;
    border-radius: 1em;
    box-shadow: 0 1.2em 1em .1em gray;
    flex: 1 1 1em;
    width: 12em;
}

.Profile .main .column-chat input {
    padding: .5em .75em;
    border-radius: .5em;
    border: 1px solid lightgray;
}

@media (orientation: portrait) {
    .Profile .sidebar {
        left:0;
        right:0;
        bottom:0;
        top:calc(100vh - 5em);
        flex-direction:row;
    }
    
    .Profile .main {
        margin-left: 0em;
        display: block;
    }
}
