:root {
    font-family: sans-serif;
    --sign-background: url("../../assets/image/bg.jpg") center/cover no-repeat fixed;
    --modal: white;
    --button-color: #0084ff;
}   

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.Sign {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sign-background);    
}

.Sign .modal {
    background: var(--modal);
    color: black;
    display: block;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    max-width: 30em;
    margin: auto;
    padding: 1em;
}

.Sign .modal a {
    color: var(--button-color);
    transition: .2s;
}

.Sign .modal a:visited:hover,
.Sign .modal a:hover,
.Sign .modal button:hover {
    filter: brightness(0.75);
}

.Sign .modal button {
    transition: .2s;
}

.Sign .modal .inp textarea,
.Sign .modal .inp input {
    outline: none;
}

.Sign .modal .inp input[type="text"]:hover,
.Sign .modal .inp input[type="password"]:hover,
.Sign .modal .inp input:focus:hover {
    filter: brightness(0.95);
}


.Sign .modal .inp label {
    display: flex;
    user-select: none;
}

.Sign .modal .inp {
    display: flex;
    flex-direction: column;
}

.Sign .modal .inp input[type="text"],
.Sign .modal .inp input[type="password"] {
    background: #f2f2f2;
    color: #878787;
    border: 2px solid #f2f2f2;
    border-radius: 50px;
    padding: 1em;
    margin: .2em;
    transition: .2s;
    width: 30em;
}

.Sign .modal .inp input[type="text"]:focus,
.Sign .modal .inp input[type="password"]:focus {
    border: 2px solid var(--button-color);
}

.Sign .modal .down button {
    background: var(--button-color);
    padding: 1em;
    border-radius: 10px;
    color: var(--modal);
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}
